@charset "UTF-8";
.navbar.navbar-inverse.top {
	height: 52px;
	width: 70%;
	background-color: white;
	margin: 0 auto;
	border-color: black;
	margin-top: 20px;
	margin-bottom: 50px;
	float: none;
}
.container-fluid.top{
	float: none;
}
.navbar-form.navbar-leftt{
	width:50%;
	float: right;
}
.container>h2{
	font-weight: bolder;
	margin-left: 7%;
}
thead{
	font-weight: bold;
}

.table.table-hover{
	table-layout: fixed;
	width: 90%;
	height: 150px;
	margin: auto;
	text-align: center;
}
.nav.navbar-nav.side{
	width: 50%;
	text-align: center;
}

.nav.navbar-nav.side> li{
	width : 95px;
	float: none;
	font-size: medium;
	display: inline-block;
}
.nav.navbar-nav.side a:hover{
	color: white;
	background-color: black;
}
.page-button{
	float: none;
	margin-top: 4%;
	margin-bottom : 5%;
	margin-left: 40%;
	margin-right: auto;
}

