@charset "UTF-8";
.navbar.navbar-inverse.top {
	height: 50px;
	width: 70%;
	background-color: white;
	margin: 0 auto;
	border-color: black;
	margin-bottom: 50px;
	float: none;
}
.container-fluid.top{
	float: right;
}
table{
	width: 50%;
	height: 120px;
	border: 1px solid black;
	margin: auto;
	text-align: center;
}
.list{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}
.navbar-inverse .navbar-nav > .active > a{
	color: white;
	background-color: black;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ff80ff;
}
