@charset "UTF-8";
.navbar.navbar-inverse.top {
	height: 50px;
	width: 70%;
	background-color: white;
	margin: 0 auto;
	border-color: black;
	margin-top: 20px;
	margin-bottom: 50px;
	float: none;
}
.container-fluid.top{
	float: right;
}
.container>h2{
	font-weight: bolder;
	margin-left: 7%;
}
thead{
	font-weight: bold;
}

.table.table-hover{
	table-layout: fixed;
	width: 90%;
	height: 150px;
	margin: auto;
	text-align: center;
}


.navbar-inverse .navbar-nav > .active > a{
	color: white;
	background-color: black;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ff80ff;
}


