@charset "UTF-8";
/* Remove the navbar's default margin-bottom and rounded borders */
/*header*/
.glowpick {
	width: 100%;
	height: 46px;
	margin: 0 auto;
}
#gp{
	font-size : xx-large;
	list-style: none;
	text-align: center;
	margin-top: 10px;
}
#glowpick{
	color: white;
	text-align: center;
	text-decoration: none;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.navbar.navbar-inverse{
	height: 120px;
}

.nav.navbar-nav.navbar-center{
	margin-left: 400.3px;
	
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
/*header 끝*/

