<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>qna</servlet-name>
    <servlet-class>com.ede.controller.QnaController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>qna.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>properties</servlet-name>
    <url-pattern>*.qna</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notice</servlet-name>
    <servlet-class>com.ede.controller.NoticeController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>notice.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>properties</servlet-name>
    <url-pattern>*.notice</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/user04</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>encording</filter-name>
    <filter-class>com.ede.filter.Encording</filter-class>
    <init-param>
      <param-name>enc</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encording</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>category</servlet-name>
    <servlet-class>com.ede.category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>*.category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meet</servlet-name>
    <servlet-class>com.ede.meet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meet</servlet-name>
    <url-pattern>*.meet</url-pattern>
  </servlet-mapping>
</web-app>